/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Barlow";
}

a {
  color: #83888F;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  position: relative;
}

.header_list {
  width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.header_item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}

.header__item-link {
  color: #fff;
}

.menu {
  display: none;
}

@media screen and (max-width: 700px) {
  .header_list {
    display: none;
  }
  .menu {
    display: none;
  }
  .label {
    width: 40px;
    height: 40px;
    display: block;
    background-image: url("../img/checbox1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .menu:checked + label {
    background-image: url("../img/checbox2.svg");
  }
}
.hero__container {
  padding: 116px 20px;
  background-image: url("../img/indexbgihero.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: right;
  background-size: cover;
}

.hero__block {
  margin-left: 85px;
}

.hero__title {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  max-width: 493px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  width: 445px;
  margin: 32px 0 56px 0;
  opacity: 0.8;
  max-width: 255px;
}

.btn {
  padding: 15px 31px;
  background-color: #0E8784;
  display: inline-block;
  border-radius: 6px;
  display: inline-block;
}

@media screen and (max-width: 700px) {
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
  .hero__text {
    font-size: 15px;
    line-height: 25px;
    text-align: start;
  }
  .hero__block {
    margin-left: 2%;
  }
  .hero__container {
    width: 100%;
  }
}
.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1111px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 249px;
  background-image: url("../../img/collection.png");
  background-repeat: no-repeat;
  background-position: center -22%;
  padding-top: 63px;
}

.collecion__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.collection__img-block {
  max-width: 255px;
}

.collection__img {
  width: 100%;
}

.collection__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-top: 71px;
  margin-bottom: 24px;
}

.collection__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  color: #333D4B;
  width: 255px;
}

@media screen and (max-width: 1050px) {
  .collection__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collecion__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 900px;
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .collection__img {
    max-width: 300px;
    height: auto;
  }
  .collection__box {
    max-width: 300px;
  }
  .collection__title {
    max-width: 255px;
  }
  .collection__list {
    margin-top: 120px;
    background-position: center 3%;
    background-size: contain;
    padding-top: 102px;
  }
  .collection__text {
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  .collecion__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
.choose__block {
  background-color: #293039;
  padding: 100px 0 86px 0;
  margin-top: 200px;
  position: relative;
  border-radius: 10px;
}

.choose__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}

.choose__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  color: #333D4B;
  color: #FEFCF7;
  opacity: 0.8;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
}

.choose__bottom {
  height: 250px;
  max-width: 1320px;
  width: 100%;
  background-color: #293039;
  position: absolute;
  display: block;
  z-index: -1;
  bottom: -65%;
  border-radius: 10px;
}

.choose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
}

.choose__item {
  text-align: center;
  background-color: #0E8784;
  max-width: 350px;
  width: 100%;
  border-radius: 8px;
  padding-top: 72px;
  padding-bottom: 48px;
}

.choose__item-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
  display: block;
  margin: 0 auto;
  max-width: 255px;
}

.choose__item-title::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/choosebg1.png");
  width: 71px;
  height: 72px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 56px;
}

.item2::before {
  background-image: url("../img/choosebg2.svg");
}

.item3::before {
  background-image: url("../img/choosebg3.svg");
}

.choose__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  color: #333D4B;
  max-width: 255px;
  color: #FEFCF7;
  margin: 24px auto 0 auto;
}

@media screen and (max-width: 1050px) {
  .choose__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose__item {
    margin: 0 auto;
    max-width: 80%;
    text-align: start;
  }
  .choose__item-title::before {
    display: none;
  }
  .choose__item-text {
    max-width: 325px;
  }
  .choose__item-title {
    max-width: 325px;
  }
  .choose__item-block {
    padding-left: 150px;
    background-image: url(../img/choosebg2.svg);
    background-repeat: no-repeat;
    background-position: 20% center;
    background-size: 55px 56px;
  }
  .choose__blok1 {
    background-image: url("../img/choosebg1.png");
    background-repeat: no-repeat;
  }
  .choose__block2 {
    background-image: url("../img/choosebg3.svg");
  }
  .choose__bottom {
    height: 418px;
    bottom: -108%;
  }
}
@media screen and (max-width: 700px) {
  .choose__item-block {
    padding-top: 150px;
    padding-left: 0;
    text-align: center;
    background-position: center 20%;
  }
  .choose__bottom {
    height: 500px;
  }
}
.works__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.works__inner {
  max-width: 791px;
  height: 1px;
  border: 1px solid #FDD6BA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.works__inner-box {
  width: 15px;
  height: 15px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1045px;
  gap: 95px;
}

.works__item {
  max-width: 285px;
  margin-top: 56px;
  margin-bottom: 52px;
}

.works__ietm-number {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
  display: block;
}

.works__item-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 42px;
  max-width: 225px;
}

.works__item-text {
  font-size: 16px;
  line-height: 25px;
  color: #333D4B;
  max-width: 285px;
}

@media screen and (max-width: 1050px) {
  .works__inner {
    max-width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .works {
    margin-top: 100px;
  }
  .works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__item {
    max-width: 400px;
    margin-bottom: -71px;
  }
  .works__item-title {
    max-width: 320px;
  }
  .works__inner {
    display: none;
  }
  .works {
    text-align: center;
  }
  .works__btn {
    margin-top: 115px;
  }
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2C343E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 283px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__img {
  max-width: 235px;
}

@media screen and (max-width: 1050px) {
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 270px;
  }
}
@media screen and (max-width: 700px) {
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 48px 0 48px 0;
    height: 93px;
  }
}
.about-hero__contaner {
  padding: 137px 0;
  padding-left: 85px;
  background-image: url("../img/about.herobg.png");
  background-repeat: no-repeat;
  max-width: 1280px;
  border-radius: 10px;
}

.about-hero__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.about-hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  max-width: 445px;
}

.our__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 168px;
  max-width: 1110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our__img {
  max-width: 500px;
}

.our_img2 {
  width: 100%;
}

.our__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}

.our__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  opacity: 0.8;
  max-width: 540px;
}

.quolity__container {
  padding: 0 85px;
  background-color: #2C343E;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 245px;
}

.quolity__block {
  padding: 85px 0 176px 0;
}

.quolity__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.quolity__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-top: 32px;
  max-width: 540px;
}

.quolity__img {
  position: absolute;
  z-index: 1;
  right: 21%;
  top: -15%;
  width: 20%;
}

.canada__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-top: 179px;
}

.canada__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canada__item {
  margin-right: 95px;
  width: 285px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
}

.canada__item-title::before {
  content: "";
  background-image: url("../img/canada_img1.png");
  background-repeat: no-repeat;
  width: 41px;
  height: 48px;
  display: block;
  margin-top: 72px;
  margin-bottom: 45px;
}

.canada__item-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.canada__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  margin-top: 24px;
}

.canada__item:hover {
  background-color: blueviolet;
}/*# sourceMappingURL=main.css.map */