.about-hero__contaner{
  padding: 137px 0;
  padding-left: 85px;
  background-image: url('../img/about.herobg.png');
  background-repeat: no-repeat;
 max-width: 1280px;
 border-radius: 10px;
}
.about-hero__title{
  
font-family: 'Fraunces';
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;

}
.about-hero__text{
  font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
max-width: 445px;
}
@media screen and (max-width:1100px){
  .about-hero__contaner{
    background-size: cover;
    background-position:right;
  }
  .about-hero__contaner{
  background-image: url(../../img/herobg_2.jpg);
}
}
@media screen and (max-width:700px) {
  .about-hero__contaner{
    text-align: center;
  }
  .about-hero__title{
    margin: 0 auto;
    display: block;
    font-size: 28px;
line-height: 28px;
  }
  .about-hero__text{
    margin: 0 auto;
    font-weight: 400;
font-size: 15px;
line-height: 25px;
margin-top: 24px;
  }
  .about-hero__contaner{
    padding-left: 0px;}
}