.quolity__container{
  padding: 0 85px;
  background-color: #2C343E;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 245px;
}
.quolity__block{
  padding: 85px 0 176px 0;
}
.quolity__title{
  font-family: 'Fraunces';
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
}
.quolity__text{
  font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
opacity: 0.8;
margin-top: 32px;
max-width: 540px;
}
.quolity__img{
position: absolute;
  left: 58%;
  right: 6%;
  top: -25%;
  max-width: 500px;
}
.quolity__img2{
  display: none;
  max-width: 500px;
}
.quolity__img3{
  display: none;
}
@media screen and (max-width:1100px){

  .quolity__img{
    display:none;
  }

.quolity__img2{
  display: block;
  position: absolute;
  top: -18%;
  max-width: 543px;
}
.quolity__block{
  padding: 250px 0 85px 0;
  text-align: center;
  margin: 0 auto;
}

}
@media screen and (max-width:700px){
  .quolity__container{
    padding: 0 45px;
  }
  .quolity__block{
    padding-top: 180px;

  }
  .quolity__img2{
    display: none;
  }
  .quolity__img3{
    display: block;
    position: absolute;
    top: -30%;
    right: 10%;
    left: 10%;
    
  }
  .quolity__title{
    font-size: 28px;
    margin: o auto;
line-height: 28px;
  }
  .quolity__text{
    font-size: 15px;
line-height: 25px;
  }
}
@media screen and (max-width:500px){
  .quolity__img3{
  top: -14%;
  }
.quolity__block{
  padding-top: 150px;
}
}